<div class="row">
  <div class="col align-self-end">
    <% flash.each do |key, message| %>
      <p class="<%= key %> alert alert-info">
        <%= message %>
      </p>
    <% end %>
  </div>
</div>

